@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

.clsTopHeader {
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 3vh;
    font-weight: 700;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    height: 96px;
}

.clsStructure {
    display: grid;
    grid-template-columns: 20% 1fr 20%;
}